.collections {
	margin: 0 auto;
	width: 375px;



	@media screen and (min-width: 1024px) {
   	width: 1920px;
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: center;
   }
}

.new-collection {
	text-align: center;
	display: inline-block;
	max-width: 375px;
	width: 100%;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-image: url(../../images/new-collection-bg.jpg);

	@media screen and (min-width: 1024px) {
		background-position: center;
   	max-width: 880px;
		height: 730px;
		padding-bottom: 100px;
		padding-top: 480px;
   }
}

.new-collection__title {
	display: block;
	margin: 0 auto;
	margin-bottom: 72px;

	&::after {
		position: absolute;
		bottom: -15px;
		left: 105px;
		content: "";
		display: block;
		width: 120px;
		height: 1px;
		background-color: var(--text-color);

		@media screen and (min-width: 1024px) {
			bottom: -25px;
			left: 380px;
		}
	}
}

.new-collection__link {
	align-items: center;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 1.3;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 1px solid #ffffff;

	color: var(--text-color);

	@media screen and (min-width: 1024px) {
		padding: 12px 28px;
		font-size: 18px;
	}
}

// -------------------
.new-season {
	padding: 15px 15px;
	max-width: 375px;
	width: 100%;

	@media screen and (min-width: 1024px) {

		padding: 93px 80px;
		max-width: 1040px;
	}
}

.new-season__title {
	margin-bottom: 40px;

	&::after {
		position: absolute;
			bottom: -15px;
			left: 110px;
			content: "";
			display: block;
			width: 120px;
			height: 1px;
			background-color: var(--text-color);

			@media screen and (min-width: 1024px) {
				bottom: -45px;
				left: 380px;
			}
	}

	@media screen and (min-width: 1024px) {
		margin-bottom: 100px;
	}
}

.new-season__list {
	@media screen and (min-width: 1024px) {
		display: flex;
	}
}

.new-season__item {
	@media screen and (min-width: 1024px) {
		width: 260px;
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
	
}

.new-season__image {
	margin: 0 auto;
	padding: 27px 22px 34px 23px;
	background-color: var(--hover-link-bg-color);
}

.new-season__name {
	margin-left: 45px;
	margin-top: 25px;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 100;
	font-size: 14px;
	line-height: 1.3;

	@media screen and (min-width: 1024px) {
		margin-left: 0;
		font-size: 18px;
	}
}

.new-season__price {
	margin-left: 45px;
	margin-top: 10px;
	font-family: 'Playfair Display';
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;

	color: #D0D0D0;

	@media screen and (min-width: 1024px) {
		font-weight: 700;
		font-size: 16px;
		margin-left: 0;
	}
}


// --------------------------
.collection-2018 {
	width: 100%;

	@media screen and (max-width: 1023px) {
		position: relative;
	}

	@media screen and (min-width: 1024px) {
		display: flex;
	}
}

.collection-2018__image {
	// width: 100%;
	height:min-content;
	@media screen and (max-width: 1023px) {
		// transform: translateY(70px);
		margin-top: 70px;
		margin-bottom: 10px;
	}
}

.collection-2018__block {
	text-align: center;

	@media screen and (max-width: 1024px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.collection-2018__title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 400;

	&::after {
		position: absolute;
			bottom: -10px;
			left: 40px;
			content: "";
			display: block;
			width: 120px;
			height: 1px;
			background-color: var(--text-color);

			@media screen and (min-width: 1024px) {
				bottom: -40px;
				left: 435px;
			}
	}

	@media screen and (max-width: 1023px) {
		// transform: translateY(-255px);
		position: absolute;
		top: -80px;
		left: 90px;
	}

	@media screen and (min-width: 1024px) {
		margin-top: 100px;
		margin-bottom: 80px;
	}
}

.collection-2018__text {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 26px;
	font-weight: 100;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;

	@media screen and (min-width: 1024px) {
		margin-left: 140px;
		margin-right: 170px;
		margin-bottom: 76px;
		font-size: 14px;
	}
}

.collection-2018__link {
	align-items: center;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 1.3;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 1px solid #ffffff;

	color: var(--text-color);

	@media screen and (max-width: 1023px) {
		margin: 0 auto;
	}

	@media screen and (min-width: 1024px) {
		padding: 12px 28px;
		font-size: 18px;
	}
}