.hero {
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../images/hero-bg.jpg);

   @media screen and (max-width: 1023px) {
   	width: 375px;
   }
   @media screen and (min-width: 1024px) {
		padding-top: 160px;
		padding-bottom: 154px;
		// height: 810px;
   	width: 1920px;
   }
}

.block-hero__title {
	margin: 0 auto;
	padding: 60px 30px;
	max-width: 320px;
	max-height: 320px;
	border: 4px solid #FFFFFF;

	@media screen and (min-width: 1024px) {
		padding: 93px 50px;
	}
}

.hero__title {
	margin: 0 auto;
	position: relative;
	font-family: 'Stick No Bills';
	font-weight: 700;
	font-size: 48px;
	line-height: 1.5;
	text-align: center;
	max-width: 185px;

	&::after {
		position: absolute;
			bottom: 10px;
			left: 4px;
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background-color: var(--text-color);

			@media screen and (min-width: 1024px) {
				width: 100%;
			}
	}

	@media screen and (min-width: 1024px) {
		font-size: 64px;
   }
}

.hero__location {
	margin: 0;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;

	@media screen and (min-width: 1024px) {
		font-size: 22px;
   }
}

.hero__descriotion {
	margin: 20px auto 0 auto;
	max-width: 780px;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;

	@media screen and (min-width: 1024px) {
		margin-top: 80px;
   }
}